*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.choose-bar{
    background-color:rgb(202, 59, 59);
    width: 250px;
    float: left;
    padding: 20px 20px 0 20px;
    height: 100vh;
   /* height: calc(100vh - 60px);*/
}
.principale{
    height: 100%;
    float: right;
    width: calc(100% - 250px);
}
.upgrade-bar{
    background-color: rgb(8, 11, 18);
    padding: 20px 0;
}
.upgrade-button{
    padding: 5px;
    border-radius: 15px;
    border: 1px solid white;
    color: white;
    background-color: transparent;
    position: relative;
    float: right;
    font-size: 10px;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.music-list{
    background-color: darksalmon;
    /*padding: 10px 0;*/
    width: 500px;
    margin: auto;
    margin-bottom: 0;
}
.music-list ul{
    padding: 5px;
    margin-bottom: 0;
}
.overflow h5,
.overflow h6{
    text-align: center;
}
ul{
    list-style-type: none;    
}
.music-list ul li{
    display: inline-block;
    font-size: 10px;
    text-align: center;
    margin: 5px;
}
.music-list a{
    color: white;
}
.plus-box{
    font-size: 35px;
    float: left;
    margin-right: 8px
}
.choose-bar{
    color: white;
}
.choose-bar p{
    padding-top: 8px;
}
.made-playlist{
    height: 250px;
    border: solid;
    overflow-y: scroll;
}
.dowload-app li:first-of-type{
    border-bottom: 1px solid;
}
.first-list{
    margin-top: 10px;
}
.block-music img{
    max-width: 100%;
    margin: 5px;
}
.overflow{
    overflow-y: scroll;
    height: 900px;
   /* height: calc(100vh - 60px);*/
    background-color: lightblue;
}
.row{
    width: 100%;
    padding: 20px;
}
.block-music-third img{
    border-radius: 50%;
}
.my-bar{
    height: 10px;
    position: relative;
    top:10px;
}










.footer{
    background-color: rgb(152, 152, 206);
    padding: 10px 0;
    height: 80px; 
    position: fixed; 
    width: 100%;
    bottom: 0;
}
.box-footer{
    height: 60px;
    width: 60px;
    border: 1px solid white;
}
.box-footer img{
    width: 100%;
}
.icon{
    font-size: 25px;
    position: relative;
    top: 20px;
}
.chic-one{
    border: 1px solid;
    height: 30px;
}
.play{
    position: relative;
    left: 15px;
    font-size: 25px;
}
