*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.principale{
    height: calc(100vh - 70px);
}
.principale::after{
    content: "";
    display: table;
    clear: both;
}
.bar{
    background-color: brown;
    width: 300px;
    height: 100%;
    padding: 20px;
    float: left;
}
.album-list{
    background-color: blue;
    padding: 20px;
    height: 100%;
}
.tool-bar{
    height: 70px;
    background-color: cornsilk;
}
.plus-box{
    width: 50px;
    height: 50px;
    background-color: blueviolet;
    float: left;
    margin-right: 20px;
}
.paragrafo{
    position: relative;
    top: 25px;
    transform: translateY(-50%);
}