*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.choose-bar{
    background-color:rgb(202, 59, 59);
    width: 250px;
    float: left;
    padding: 20px 20px 0 20px;
    height: 100%;
}
.principale{
    height: 100%;
    float: right;
    width: calc(100% - 250px);
}
.upgrade-bar{
    background-color: rgb(8, 11, 18);
    padding: 20px 0;
}
.upgrade-button{
    padding: 5px;
    border: 1px solid white;
    border-radius: 15px;
    background-color: transparent;
    position: relative;
    float: right;
    font-size: 10px;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.music-list{
    background-color: darksalmon;
    
    width: 500px;
    margin: auto;
    margin-bottom: 0;
}
.music-list ul{
    padding: 5px;
    margin-bottom: 0;
}
.overflow h5,
.overflow h6{
    text-align: center;
}
ul{
    list-style-type: none;    
}
.music-list ul li{
    display: inline-block;
    font-size: 10px;
    text-align: center;
    margin: 5px;
}
.plus-box{
    font-size: 35px;
    float: left;
    margin-right: 8px
}
.choose-bar p{
    padding-top: 8px;
}
.made-playlist{
    overflow-y: scroll;
}
.dowload-app li:first-of-type{
    border-bottom: 1px solid;
}
.dowload-app{
    position: fixed;
    bottom: 80px;
    left: 20px;
    z-index: 1;
}
.first-list{
    margin-top: 10px;
}
.block-music img{
    max-width: 100%;
    margin: 5px;
}
.overflow{
    overflow-y: scroll;
    height: calc(100vh - 100px);  
    background-color: lightblue;
}
.row{
    width: 100%;
    padding: 20px;
}
.block-music-third img{
    border-radius: 50%;
}
.my-bar{
    height: 10px;
    position: relative;
    top:10px;
}
.blocco-superiore{
    height: calc(100vh - 80px);
}
.footer{
    background-color: rgb(40, 40, 40);
    padding: 10px 0;
    height: 80px; 
    position: fixed; 
    width: 100%;
}
.box-footer{
    height: 60px;
    width: 60px;
}
.box-footer img{
    width: 100%;
}
.icon{
    font-size: 25px;
    position: relative;
    top: 20px;
}
.chic-one{
    height: 30px;
}
.play{
    position: relative;
    left: 15px;
    font-size: 25px;
}
.ultima-colonna{
    position: relative;
    top: 20px;
}
.ultima-colonna-barra{
    position: relative;
    bottom: 5px;
}
.logo-small-spotify{
    height: 50px;
    display: none;
}
.logo-small-spotify img{
    height: 30px;
    position: relative;
    left: 10px;
    top: 10px;
}
.logo-small-spotify.profile{
    height: 30px;
    position: relative;
    top: calc(100% - 200px);
}
@media all and (max-width: 767px){
    .logo-small-spotify{
        display: block;
    }
    .logo-large-spotify,
    .first-list,
    .playlist,
    .mia-playlist,
    .made-playlist,
    .dowload-app{
        display: none;
    }
    .choose-bar{
        width: 80px;
        padding: 20px;
    }
    .principale{
        width: calc(100% - 80px);
    }
    .box-footer{
        width: 30px;
        height: 30px;
        position: relative;
        top: 10px;
    }
    .footer-h4,
    .footer-p{
        font-size: 12px;
    }
    .chic-one div{
        position: relative;
        right: 20px;
    }
    .chic-one .my-bar{
        position: relative;
        left: 3px;
    }
    .play{
        position: relative;
        left: -6px;
    }
    
}
@media all and (min-width:768px) and (max-width: 991px){
    .play{
        position: relative;
        left: 5px;
    }
    .box-footer{
        width: 40px;
        height: 40px;
        position: relative;
        top: 10px;
    }
    .footer-h4,
    .footer-p{
        font-size: 15px;
    }
}


/*HOVER*/
.upgrade-button:hover{
    width: 150px;
}
.play-circle{
    display: none;
}
.block-music div:hover .play-circle{
   display: block;
   width: 25px;
   position: relative;
   bottom: 75px;
   left: 45px;
   font-size: 30px;
   background-color: rgba(0,0,0, 0.7);
   background-size: 200px;
}


/*RANDOM*/
.color-white{
    color: white;
}
.background-color-black{
    background-color: black;
}
.background-color-black-soft{
    background-color: rgb(20, 25, 34);
}