*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.choose-bar{
    background-color: rgb(255, 246, 127);
    width: 250px;
    float: left;
    padding: 20px 20px 0 20px;
}
.principale{
    height: 100px;
    float: right;
    width: calc(100% - 250px);
}
.upgrade-bar{
    background-color: darkgoldenrod;
    padding: 20px 0;
}
.upgrade-button{
    padding: 5px;
    border-radius: 15px;
    border: 1px solid white;
    color: white;
    background-color: transparent;
    position: relative;
    float: right;
    font-size: 10px;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.music-list{
    background-color: darksalmon;
    padding: 10px;
    width: 500px;
    margin: auto;
}
ul{
    list-style-type: none;    
}
.music-list ul li{
    display: inline-block;
    font-size: 10px;
    text-align: center;
    margin: 5px;
}
.music-list a{
    color: white;
}