*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.choose-bar{
    background-color: rgb(255, 246, 127);
    width: 250px;
    float: left;
    padding: 20px 20px 0 20px;
    height: calc(100vh - 60px);
}
.principale{
    height: 100px;
    float: right;
    width: calc(100% - 250px);
}
.upgrade-bar{
    background-color: darkgoldenrod;
    padding: 20px 0;
}
.upgrade-button{
    padding: 5px;
    border-radius: 15px;
    border: 1px solid white;
    color: white;
    background-color: transparent;
    position: relative;
    float: right;
    font-size: 10px;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.music-list{
    background-color: darksalmon;
    padding: 10px;
    width: 500px;
    margin: auto;
}
ul{
    list-style-type: none;    
}
.music-list ul li{
    display: inline-block;
    font-size: 10px;
    text-align: center;
    margin: 5px;
}
.music-list a{
    color: white;
}
.plus-box{
    font-size: 35px;
    float: left;
    margin-right: 8px
}
.choose-bar p{
    padding-top: 8px;
}
.made-playlist{
    height: 250px;
    border: solid;
    overflow-y: scroll;
}
.dowload-app li:first-of-type{
    border-bottom: 1px solid;
}
.first-list{
    margin-top: 10px;
}
.block-music img{
    max-width: 100%;
    margin: 5px;
}









.footer{
    background-color: blue;
    padding: 10px 0;
    height: 60px;  
    position: fixed;
    width: 100%;
}
.box{
    width: 33%;
    height: 100%;
    border: 1px solid;
    display: inline-block;
}
