*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.choose-bar{
    background-color:rgb(202, 59, 59);
    width: 250px;
    float: left;
    padding: 20px 20px 0 20px;
    height: 100%;
}
.principale{
    height: 100%;
    float: right;
    width: calc(100% - 250px);
}
.upgrade-bar{
    background-color: rgb(8, 11, 18);
    padding: 20px 0;
}
.upgrade-button{
    padding: 5px;
    border-radius: 15px;
    border: 1px solid white;
    color: white;
    background-color: transparent;
    position: relative;
    float: right;
    font-size: 10px;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.music-list{
    background-color: darksalmon;
    
    width: 500px;
    margin: auto;
    margin-bottom: 0;
}
.music-list ul{
    padding: 5px;
    margin-bottom: 0;
}
.overflow h5,
.overflow h6{
    text-align: center;
}
ul{
    list-style-type: none;    
}
.music-list ul li{
    display: inline-block;
    font-size: 10px;
    text-align: center;
    margin: 5px;
}
.music-list a{
    color: white;
}
.plus-box{
    font-size: 35px;
    float: left;
    margin-right: 8px
}
.choose-bar{
    color: white;
}
.choose-bar p{
    padding-top: 8px;
}
.made-playlist{
    border: solid;
    overflow-y: scroll;
}
.dowload-app li:first-of-type{
    border-bottom: 1px solid;
}
.dowload-app{
    position: fixed;
    bottom: 80px;
    left: 20px;
    z-index: 1;
}
.first-list{
    margin-top: 10px;
}
.block-music img{
    max-width: 100%;
    margin: 5px;
}
.overflow{
    overflow-y: scroll;
    height: calc(100vh - 100px);  
    background-color: lightblue;
}
.row{
    width: 100%;
    padding: 20px;
}
.block-music-third img{
    border-radius: 50%;
}
.my-bar{
    height: 10px;
    position: relative;
    top:10px;
}
.blocco-superiore{
    height: calc(100vh - 80px);
}
.footer{
    background-color: rgb(152, 152, 206);
    padding: 10px 0;
    height: 80px; 
    position: fixed; 
    width: 100%;
}
.box-footer{
    height: 60px;
    width: 60px;
    border: 1px solid white;
}
.box-footer img{
    width: 100%;
}
.icon{
    font-size: 25px;
    position: relative;
    top: 20px;
}
.chic-one{
    border: 1px solid;
    height: 30px;
}
.play{
    position: relative;
    left: 15px;
    font-size: 25px;
}
.ultima-colonna{
    position: relative;
    top: 20px;
}
.ultima-colonna-barra{
    position: relative;
    bottom: 5px;
}
.logo-small-spotify{
    height: 50px;
    display: none;
}
.logo-small-spotify img{
    height: 30px;
    position: relative;
    left: 10px;
    top: 10px;
}
.logo-small-spotify.profile{
    height: 30px;
    position: relative;
    top: calc(100% - 200px);
}
@media all and (max-width: 767px){
    .logo-small-spotify{
        display: block;
    }
    .logo-large-spotify,
    .first-list,
    .playlist,
    .mia-playlist,
    .made-playlist,
    .dowload-app{
        display: none;
    }
    .choose-bar{
        width: 80px;
        padding: 20px;
    }
}
