*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*INIZIO parte superiore*/
.choose-bar{
    width: 250px;
    float: left;
    padding: 20px 20px 0 20px;
    height: 100%;
}
.principale{
    height: 100%;
    float: right;
    width: calc(100% - 250px);
}
.upgrade-bar{
    background-color: rgb(8, 11, 18);
    padding: 20px 0;
}
.upgrade-button{
    padding: 5px;
    border: 1px solid white;
    border-radius: 15px;
    background-color: transparent;
    position: relative;
    float: right;
    font-size: 10px;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.music-list{    
    width: 500px;
    margin: auto;
    margin-bottom: 0;
}
.music-list ul{
    padding: 5px;
    margin-bottom: 0;
}
ul{
    list-style-type: none;    
}
.music-list ul li{
    display: inline-block;
    font-size: 10px;
    text-align: center;
    margin: 5px;
}
.plus-box{
    font-size: 35px;
    float: left;
    margin-right: 8px
}
.choose-bar p{
    padding-top: 8px;
}
.made-playlist{
    overflow-y: auto;
    height: 30%;
}
.dowload-app li:first-of-type{
    border-bottom: 1px solid;
}
.dowload-app{
    position: fixed;
    bottom: 80px;
    left: 20px;
    background-color: black;
    z-index: 2;
}
.dowload{
    cursor: pointer;
}
#my-dowload{
    position: absolute;
    bottom: 70px;
    width:200px;
}
.first-list{
    margin-top: 10px;
    cursor: pointer;
}
.row{
    width: 100%;
    padding: 20px;
}
.my-bar{
    height: 10px;
    position: relative;
    top:10px;
}
.blocco-superiore{
    height: calc(100vh - 80px);
}
.logo-small-spotify{
    height: 50px;
    display: none;
}
.logo-small-spotify img{
    height: 30px;
    position: relative;
    left: 10px;
    top: 10px;
}
.logo-small-spotify.profile{
    height: 30px;
    position: relative;
    top: calc(100% - 200px);
}
/*FINE parte superiore*/
@media all and (max-width: 767px){
    .logo-small-spotify{
        display: block;
    }
    .logo-large-spotify,
    .first-list,
    .playlist,
    .mia-playlist,
    .made-playlist,
    .dowload-app{
        display: none;
    }
    .choose-bar{
        width: 80px;
        padding: 20px;
    }
    .principale{
        width: calc(100% - 80px);
    }
}
/*HOVER*/
.upgrade-button:hover{
    width: 150px;
}
.logo-small-spotify .home:hover,
.logo-small-spotify .search:hover,
.logo-small-spotify .library:hover,
.logo-small-spotify .dowload:hover,
.logo-small-spotify .profile:hover{
    background-color: rgb(165, 214, 198);
}
.dowload-app .dowload:hover,
.playlist:hover,
.mia-playlist:hover,
.made-playlist li:hover{
    color: white;
    text-decoration: none;
}
.first-list li:hover{
    color: white;
    text-decoration: none;
    border-left: 1px solid rgb(100, 211, 100);
}
.music-list li a:hover{
    color: white;
    text-decoration: none;
    border-bottom: 1px solid rgb(100, 211, 100);
}
/*RANDOM*/
.color-white{
    color: white;
}
.color-lightgrey{
    color: lightgray;
}
.background-color-black{
    background-color: black;
}
.background-color-black-soft{
    background-color: rgb(20, 25, 34);
}
.my-first-padding{
    padding-left: 20px;
}
/* INIZIO Parte centrale delle canzoni*/
.musica{
    overflow-y: scroll;
    height: calc(100vh - 180px);
}

.box-musica{
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 150px;
}
.box-musica:hover i{
    display: block;
}
.box-musica i{
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: xx-large;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}
.box-musica-third{
    border-radius: 50%;
}
.testi{
    text-align: center;
    max-width: 100%;
}
.box-musica-primo{
    background-image: url(img/metal_lifting.jpg) ;
}
.box-musica-secondo{
    background-image: url(img/stranger.jpeg) ;
}
.box-musica-terzo{
    background-image: url(img/aquietplace.jpeg) ;
}
.box-musica-quarto{
    background-image: url(img/split.jpeg) ;
}
.box-musica-quinto{
    background-image: url(img/cure.jpeg) ;
}
.box-musica-sesto{
    background-image: url(img/sinister.jpeg) ;
}
.box-musica-settimo{
    background-image: url(img/radar.jpeg) ;
}
.box-musica-ottavo{
    background-image: url(img/mixdaily.jpeg) ;
}
.box-musica-nono{
    background-image: url(img/youg.jpeg) ;
}
.box-musica-decimo{
    background-image: url(img/einaudi.jpeg) ;
}
/* FINE Parte centrale delle canzoni*/
/*INIZIO Footer*/
.footer{
    background-color: rgb(40, 40, 40);
    height: 80px; 
    position: fixed; 
    width: 100%;
}
.playing-bar{
    display: flex;
    justify-content: space-between;
}  
.play-info{
    display: flex;
    align-items: center;
    line-height: 100%;
    padding: 20px 0 0 15px;
}  
.current-play>*{
    display: inline-block;
}  
.current-play>img{
    width:56px;
    height:56px;
}  
.play-info>*{
    font-size: 14px;
    color: #b3b3b3;
    text-align: left;
    display: block;
    line-height: 100%;
    text-decoration: none;
}  
#title-song{
    font-size: 13px;
}  
#author{
    padding-top: 5px;
}  
.heart{
  padding-left: 50px;
} 
.player-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 100%;
}  
.player-buttons{
    width:300px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
    font-size: 20px;
}
.player-buttons .fa-random:hover,
.player-buttons .fa-step-backward:hover,
.player-buttons .fa-play-circle:hover,
.player-buttons .fa-step-forward:hover,
.player-buttons .fa-history:hover{
    font-size: 30px;
}
.playbar:after{
    clear: both;
    display: table;
    content: "";
}
.playbar>*{
    float:left;
}  
.fa-play-circle{
    font-size:25px;
}  
.time-before{
    height: 5px;
    width:100px;
    background-color: gray;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 2px;
}  
.time-after{
    height: 5px;
    width:200px;
    background-color:#B3B3B3;
    border-radius: 5px;
    margin-top: 5px;
    margin-right: 2px;
}  
.fa-circle{
    color: gray;
    display: none;
}
.playbar:hover .fa-circle{
    display: block;
}
.volume{
      position: relative;
      top: 25px;
      width: 140px;
}
.volume>*{
    float: left;
    margin: 2px;
}
.volume .fa-bars:hover,
.volume .fa-tv:hover,
.volume .fa-volume-up:hover,
.heart .fa-heart:hover,
.heart .fa-folder:hover{
    font-size: 15px;
}
.volume-bar:hover{      
    background-color: gray;
} 
.volume-bar>*{
    float: left;
}
.time-before-second{
    height: 5px;
    width:30px;
    background-color: gray;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 2px;
}  
.time-after-second{
    height: 5px;
    width:30px;
    background-color:#B3B3B3;
    border-radius: 5px;
    margin-top: 5px;
    margin-right: 2px;
} 
/*FINE Footer*/

.song{
    background-color: coral;
    border: 1px solid;
    width: 180px;
    margin: 1px;
    padding: 2px;
    height: 275px;
    float: left;
}
.immagine{
    width: 100%;
    height: 180px;
    background-image: url(img/aquietplace.jpeg);
    background-size: cover;
}
.status{
    background-color: bisque;
}
.titolo{
    text-align: center;
    font-size: 17px;
}
.sottotitolo{
    text-align: center;
}
.terzo-blocco .immagine{
    border-radius: 50%;
}