*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.principale{
    height: calc(100vh - 70px);
    display: flex;
    
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.bar{
    background-color: brown;
    width: 300px;
    height: 100%;
    padding: 20px;
    float: left;
}
.album-list{
    background-color: blue;
    padding: 20px;
    height: 100%;
    width: 100%;
}
.tool-bar{
    height: 70px;
    background-color: cornsilk;
}
.fa-plus-square{
    font-size: 50px;
    float: left;
    margin-right: 20px;
}
.paragrafo{
    position: relative;
    top: 5px;
}
.playlist{
    min-height: 300px;
    margin: 10px 0;
}
.app{
    align-content: flex-end;
}

footer{
    position: fixed;
    width: 100%;
}

/*HOVER SECTION*/
.opzioni h4:hover, 
.opzioni i:hover{
    background-color: darkcyan;
}